bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea
/.vs
/Restaurant.Api/Logs/Activity
/Restaurant.Api/Logs/Diagnostic
/Restaurant.Api/Logs/Security
/Restaurant.Api/Logs
/Restaurant.Api/bin
/Restaurant.Api/obj
/Restaurant.Common/obj
/Restaurant.Common/bin
/Restaurant.Data/obj
/Restaurant.Data/bin
/Restaurant.DataAccess/obj
/Restaurant.DataAccess/bin
/Restaurant.Logic/obj
/Restaurant.Logic/bin

